<!DOCTYPE html>
<html>
<head>
  <title>Why Yeezy and Why Not</title>
  <link rel="icon" type="image/png" href="" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
  <script src="https://d3js.org/d3.v6.min.js"></script>
</head>
<body>
  <div id="container">Container</div>
  <!-- Custom JS -->
  <script src="/js/script.js"></script>
</body>
</html>
