<!DOCTYPE html>
<html>
<head>
  <title>How Color Affects on the Resale</title>
  <link rel="icon" type="image/png" href="" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script src="https://d3js.org/d3-collection.v1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
  
</head>
<body>
  <div id="container">
    <h2>How Color Affects on the Resale</h2>
    <div id="colorMap"></div>
  </div>
  <!-- Custom JS -->
  <script src="/js/script.js"></script>
  <script src="/js/getColorCuster.js"></script>
  
</body>
</html>
